# MacOS
.DS_Store

# C stuff
*.o
*.bin
*.elf
*.hex
*.ld

# Build Artifacts
build

# Python
*.pyc
__pycache__

# Virtualenv
venv/

# ESP-IDF
sdkconfig*
!sdkconfig.defaults
defconfig
managed_components
dependencies.lock

# WIP stuff
not_components/
MK32/
qmk/
manifest.json


# Kicad files

# Temporary files
*.000
*.bak
*-bak
*-backups
*.bck
*~
_autosave-*
*.tmp

*.kicad_pcb-bak
*.sch-bak
*.kicad_prl
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

