[submodule "firmware/esp-idf"]
	path = firmware/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "firmware/scripts/keycodes"]
	path = firmware/scripts/keycodes
	url = git@gitlab.com:macro-keyboard/keycodes.git
